<div>
  Calories: <%= @nutrition_overview[0] %> <br>
  Carbs: <%= @nutrition_overview[1]  %> <br>
  Protein: <%= @nutrition_overview[2]  %> <br>
  Fiber: <%= @nutrition_overview[3]  %> <br>
  Sugar: <%= @nutrition_overview[4]  %> <br>
</div>
