<div class="row">
  <div class="small-12 columns">

    <div id="submission">
      <h1><%= @submission.title %> <h1>
      <h5><%=link_to "Original Recipe",  @submission.url %></h5><hr><br>

      <h5>
        Ingredients (Spoonacular extracted ingredients from URL, Fatsecret
        matched ingredients with food ids, and stored in model)
      </h5><hr>
      <%= @ingredients %> <br><br>

      <h5>OAuth Parameters (foods.get --> grab nutrition)</h5><hr>
      <%= @oauth_params_foodget %> <br><br>

      <h5>
        FatSecret Nutrition XML (FatSecret looked up ids to find nutrition)
      </h5><hr>
      <%= @xml_response %> <br><br>

      <h5>
        Nutrition per ingredient (FatSecret looked up ids to find nutrition)
      </h5><hr>
      <%= @nutrition_facts %> <br><br>

      <h5>
        Ingredients
      </h5><hr>

      <% @ingredients_summary.each do |name, serving| %>
        <%= name %>: <%= serving %> <br />
      <% end %>
      <br>

      <h5>Nurition Facts (Nutrition calculated for entire recipe)</h5><hr>
      <%= render 'shared/nutrition' %>
    </div>

  </div>

</div>
